<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Application</title>
</head>
<body>
    <h1>Iris Django Application</h1>
    <hr>
    {% if result %}
        <h1>Flower you're trying to classify is {{result}}</h1>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        Sepal Length : <input type="number" name="sepal_length" required><br>
        Sepal Width : <input type="number" name="sepal_width" required><br>
        Petal Length : <input type="number" name="petal_length" required><br>
        Petal Width : <input type="number" name="petal_width" required><br>
        <input type="submit">
    </form>
</body>
</html>